<!DOCTYPE html>
<html>
  <head>
    <title>Dostawca</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <link href="resources/css/jquery-ui-themes.css" type="text/css" rel="stylesheet"/>
    <link href="resources/css/axure_rp_page.css" type="text/css" rel="stylesheet"/>
    <link href="data/styles.css" type="text/css" rel="stylesheet"/>
    <link href="files/dostawca/styles.css" type="text/css" rel="stylesheet"/>
    <script src="resources/scripts/jquery-1.7.1.min.js"></script>
    <script src="resources/scripts/jquery-ui-1.8.10.custom.min.js"></script>
    <script src="resources/scripts/prototypePre.js"></script>
    <script src="data/document.js"></script>
    <script src="resources/scripts/prototypePost.js"></script>
    <script src="files/dostawca/data.js"></script>
    <script type="text/javascript">
      $axure.utils.getTransparentGifPath = function() { return 'resources/images/transparent.gif'; };
      $axure.utils.getOtherPath = function() { return 'resources/Other.html'; };
      $axure.utils.getReloadPath = function() { return 'resources/reload.html'; };
    </script>
  </head>
  <body>
    <div id="base" class="">

      <!-- Unnamed (Menu) -->
      <div id="u155" class="ax_default">
        <img id="u155_menu" class="img " src="images/klient/u6_menu.png" alt="u155_menu"/>

        <!-- Unnamed (Table) -->
        <div id="u156" class="ax_default">

          <!-- Unnamed (Menu Item) -->
          <div id="u157" class="ax_default menu_item">
            <img id="u157_img" class="img " src="images/klient/u8.png"/>
            <div id="u157_text" class="text ">
              <p><span>Klienci</span></p>
            </div>
          </div>

          <!-- Unnamed (Menu Item) -->
          <div id="u158" class="ax_default menu_item">
            <img id="u158_img" class="img " src="images/klient/u8.png"/>
            <div id="u158_text" class="text ">
              <p><span>Zamówienia</span></p>
            </div>
          </div>

          <!-- Unnamed (Menu Item) -->
          <div id="u159" class="ax_default menu_item">
            <img id="u159_img" class="img " src="images/klient/u8.png"/>
            <div id="u159_text" class="text ">
              <p><span>Produkty</span></p>
            </div>
          </div>

          <!-- Unnamed (Menu Item) -->
          <div id="u160" class="ax_default menu_item">
            <img id="u160_img" class="img " src="images/klient/u8.png"/>
            <div id="u160_text" class="text ">
              <p><span>Lokalizacje</span></p>
            </div>
          </div>

          <!-- Unnamed (Menu Item) -->
          <div id="u161" class="ax_default menu_item">
            <img id="u161_img" class="img " src="images/klient/u8.png"/>
            <div id="u161_text" class="text ">
              <p><span>Dostawcy</span></p>
            </div>
          </div>

          <!-- Unnamed (Menu Item) -->
          <div id="u162" class="ax_default menu_item">
            <img id="u162_img" class="img " src="images/klient/u8.png"/>
            <div id="u162_text" class="text ">
              <p><span>Miasta</span></p>
            </div>
          </div>

          <!-- Unnamed (Menu Item) -->
          <div id="u163" class="ax_default menu_item">
            <img id="u163_img" class="img " src="images/klient/u14.png"/>
            <div id="u163_text" class="text ">
              <p><span>Pracownicy</span></p>
            </div>
          </div>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u164" class="ax_default heading_1">
        <div id="u164_div" class=""></div>
        <div id="u164_text" class="text ">
          <p><span>Dodaj Dostawcę</span></p>
        </div>
      </div>

      <!-- Unnamed (Text Field) -->
      <div id="u165" class="ax_default text_field">
        <input id="u165_input" type="text" value=""/>
      </div>

      <!-- Unnamed (Droplist) -->
      <div id="u166" class="ax_default droplist">
        <select id="u166_input">
        </select>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u167" class="ax_default label">
        <div id="u167_div" class=""></div>
        <div id="u167_text" class="text ">
          <p><span>Nazwa</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u168" class="ax_default label">
        <div id="u168_div" class=""></div>
        <div id="u168_text" class="text ">
          <p><span>Miasto</span></p>
        </div>
      </div>

      <!-- Unnamed (HTML Button) -->
      <div id="u169" class="ax_default html_button">
        <input id="u169_input" type="submit" value="Dodaj"/>
      </div>

      <!-- Unnamed (Text Field) -->
      <div id="u170" class="ax_default text_field">
        <input id="u170_input" type="text" value=""/>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u171" class="ax_default label">
        <div id="u171_div" class=""></div>
        <div id="u171_text" class="text ">
          <p><span>Adres</span></p>
        </div>
      </div>
    </div>
  </body>
</html>
