<!DOCTYPE html>
<html>
  <head>
    <title>Klient</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <link href="resources/css/jquery-ui-themes.css" type="text/css" rel="stylesheet"/>
    <link href="resources/css/axure_rp_page.css" type="text/css" rel="stylesheet"/>
    <link href="data/styles.css" type="text/css" rel="stylesheet"/>
    <link href="files/klient/styles.css" type="text/css" rel="stylesheet"/>
    <script src="resources/scripts/jquery-1.7.1.min.js"></script>
    <script src="resources/scripts/jquery-ui-1.8.10.custom.min.js"></script>
    <script src="resources/scripts/prototypePre.js"></script>
    <script src="data/document.js"></script>
    <script src="resources/scripts/prototypePost.js"></script>
    <script src="files/klient/data.js"></script>
    <script type="text/javascript">
      $axure.utils.getTransparentGifPath = function() { return 'resources/images/transparent.gif'; };
      $axure.utils.getOtherPath = function() { return 'resources/Other.html'; };
      $axure.utils.getReloadPath = function() { return 'resources/reload.html'; };
    </script>
  </head>
  <body>
    <div id="base" class="">

      <!-- Unnamed (Menu) -->
      <div id="u6" class="ax_default">
        <img id="u6_menu" class="img " src="images/klient/u6_menu.png" alt="u6_menu"/>

        <!-- Unnamed (Table) -->
        <div id="u7" class="ax_default">

          <!-- Unnamed (Menu Item) -->
          <div id="u8" class="ax_default menu_item">
            <img id="u8_img" class="img " src="images/klient/u8.png"/>
            <div id="u8_text" class="text ">
              <p><span>Klienci</span></p>
            </div>
          </div>

          <!-- Unnamed (Menu Item) -->
          <div id="u9" class="ax_default menu_item">
            <img id="u9_img" class="img " src="images/klient/u8.png"/>
            <div id="u9_text" class="text ">
              <p><span>Zamówienia</span></p>
            </div>
          </div>

          <!-- Unnamed (Menu Item) -->
          <div id="u10" class="ax_default menu_item">
            <img id="u10_img" class="img " src="images/klient/u8.png"/>
            <div id="u10_text" class="text ">
              <p><span>Produkty</span></p>
            </div>
          </div>

          <!-- Unnamed (Menu Item) -->
          <div id="u11" class="ax_default menu_item">
            <img id="u11_img" class="img " src="images/klient/u8.png"/>
            <div id="u11_text" class="text ">
              <p><span>Lokalizacje</span></p>
            </div>
          </div>

          <!-- Unnamed (Menu Item) -->
          <div id="u12" class="ax_default menu_item">
            <img id="u12_img" class="img " src="images/klient/u8.png"/>
            <div id="u12_text" class="text ">
              <p><span>Dostawcy</span></p>
            </div>
          </div>

          <!-- Unnamed (Menu Item) -->
          <div id="u13" class="ax_default menu_item">
            <img id="u13_img" class="img " src="images/klient/u8.png"/>
            <div id="u13_text" class="text ">
              <p><span>Miasta</span></p>
            </div>
          </div>

          <!-- Unnamed (Menu Item) -->
          <div id="u14" class="ax_default menu_item">
            <img id="u14_img" class="img " src="images/klient/u14.png"/>
            <div id="u14_text" class="text ">
              <p><span>Pracownicy</span></p>
            </div>
          </div>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u15" class="ax_default heading_1">
        <div id="u15_div" class=""></div>
        <div id="u15_text" class="text ">
          <p><span>Dodaj Klienta</span></p>
        </div>
      </div>

      <!-- Unnamed (Text Field) -->
      <div id="u16" class="ax_default text_field">
        <input id="u16_input" type="text" value=""/>
      </div>

      <!-- Unnamed (Text Field) -->
      <div id="u17" class="ax_default text_field">
        <input id="u17_input" type="text" value=""/>
      </div>

      <!-- Unnamed (Text Field) -->
      <div id="u18" class="ax_default text_field">
        <input id="u18_input" type="text" value=""/>
      </div>

      <!-- Unnamed (Droplist) -->
      <div id="u19" class="ax_default droplist">
        <select id="u19_input">
        </select>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u20" class="ax_default label">
        <div id="u20_div" class=""></div>
        <div id="u20_text" class="text ">
          <p><span>Imię</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u21" class="ax_default label">
        <div id="u21_div" class=""></div>
        <div id="u21_text" class="text ">
          <p><span>Nazwisko</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u22" class="ax_default label">
        <div id="u22_div" class=""></div>
        <div id="u22_text" class="text ">
          <p><span>Adres</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u23" class="ax_default label">
        <div id="u23_div" class=""></div>
        <div id="u23_text" class="text ">
          <p><span>Miasto</span></p>
        </div>
      </div>

      <!-- Unnamed (HTML Button) -->
      <div id="u24" class="ax_default html_button">
        <input id="u24_input" type="submit" value="Dodaj"/>
      </div>
    </div>
  </body>
</html>
