<!DOCTYPE html>
<html>
  <head>
    <title>Lokalizacja</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <link href="resources/css/jquery-ui-themes.css" type="text/css" rel="stylesheet"/>
    <link href="resources/css/axure_rp_page.css" type="text/css" rel="stylesheet"/>
    <link href="data/styles.css" type="text/css" rel="stylesheet"/>
    <link href="files/lokalizacja/styles.css" type="text/css" rel="stylesheet"/>
    <script src="resources/scripts/jquery-1.7.1.min.js"></script>
    <script src="resources/scripts/jquery-ui-1.8.10.custom.min.js"></script>
    <script src="resources/scripts/prototypePre.js"></script>
    <script src="data/document.js"></script>
    <script src="resources/scripts/prototypePost.js"></script>
    <script src="files/lokalizacja/data.js"></script>
    <script type="text/javascript">
      $axure.utils.getTransparentGifPath = function() { return 'resources/images/transparent.gif'; };
      $axure.utils.getOtherPath = function() { return 'resources/Other.html'; };
      $axure.utils.getReloadPath = function() { return 'resources/reload.html'; };
    </script>
  </head>
  <body>
    <div id="base" class="">

      <!-- Unnamed (Menu) -->
      <div id="u138" class="ax_default">
        <img id="u138_menu" class="img " src="images/klient/u6_menu.png" alt="u138_menu"/>

        <!-- Unnamed (Table) -->
        <div id="u139" class="ax_default">

          <!-- Unnamed (Menu Item) -->
          <div id="u140" class="ax_default menu_item">
            <img id="u140_img" class="img " src="images/klient/u8.png"/>
            <div id="u140_text" class="text ">
              <p><span>Klienci</span></p>
            </div>
          </div>

          <!-- Unnamed (Menu Item) -->
          <div id="u141" class="ax_default menu_item">
            <img id="u141_img" class="img " src="images/klient/u8.png"/>
            <div id="u141_text" class="text ">
              <p><span>Zamówienia</span></p>
            </div>
          </div>

          <!-- Unnamed (Menu Item) -->
          <div id="u142" class="ax_default menu_item">
            <img id="u142_img" class="img " src="images/klient/u8.png"/>
            <div id="u142_text" class="text ">
              <p><span>Produkty</span></p>
            </div>
          </div>

          <!-- Unnamed (Menu Item) -->
          <div id="u143" class="ax_default menu_item">
            <img id="u143_img" class="img " src="images/klient/u8.png"/>
            <div id="u143_text" class="text ">
              <p><span>Lokalizacje</span></p>
            </div>
          </div>

          <!-- Unnamed (Menu Item) -->
          <div id="u144" class="ax_default menu_item">
            <img id="u144_img" class="img " src="images/klient/u8.png"/>
            <div id="u144_text" class="text ">
              <p><span>Dostawcy</span></p>
            </div>
          </div>

          <!-- Unnamed (Menu Item) -->
          <div id="u145" class="ax_default menu_item">
            <img id="u145_img" class="img " src="images/klient/u8.png"/>
            <div id="u145_text" class="text ">
              <p><span>Miasta</span></p>
            </div>
          </div>

          <!-- Unnamed (Menu Item) -->
          <div id="u146" class="ax_default menu_item">
            <img id="u146_img" class="img " src="images/klient/u14.png"/>
            <div id="u146_text" class="text ">
              <p><span>Pracownicy</span></p>
            </div>
          </div>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u147" class="ax_default heading_1">
        <div id="u147_div" class=""></div>
        <div id="u147_text" class="text ">
          <p><span>Dodaj Lokalizację</span></p>
        </div>
      </div>

      <!-- Unnamed (Text Field) -->
      <div id="u148" class="ax_default text_field">
        <input id="u148_input" type="text" value=""/>
      </div>

      <!-- Unnamed (Droplist) -->
      <div id="u149" class="ax_default droplist">
        <select id="u149_input">
        </select>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u150" class="ax_default label">
        <div id="u150_div" class=""></div>
        <div id="u150_text" class="text ">
          <p><span>Nazwa</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u151" class="ax_default label">
        <div id="u151_div" class=""></div>
        <div id="u151_text" class="text ">
          <p><span>Miasto</span></p>
        </div>
      </div>

      <!-- Unnamed (HTML Button) -->
      <div id="u152" class="ax_default html_button">
        <input id="u152_input" type="submit" value="Dodaj"/>
      </div>

      <!-- Unnamed (Text Field) -->
      <div id="u153" class="ax_default text_field">
        <input id="u153_input" type="text" value=""/>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u154" class="ax_default label">
        <div id="u154_div" class=""></div>
        <div id="u154_text" class="text ">
          <p><span>Adres</span></p>
        </div>
      </div>
    </div>
  </body>
</html>
