<!DOCTYPE html>
<html>
  <head>
    <title>Pracownik</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <link href="resources/css/jquery-ui-themes.css" type="text/css" rel="stylesheet"/>
    <link href="resources/css/axure_rp_page.css" type="text/css" rel="stylesheet"/>
    <link href="data/styles.css" type="text/css" rel="stylesheet"/>
    <link href="files/pracownik/styles.css" type="text/css" rel="stylesheet"/>
    <script src="resources/scripts/jquery-1.7.1.min.js"></script>
    <script src="resources/scripts/jquery-ui-1.8.10.custom.min.js"></script>
    <script src="resources/scripts/prototypePre.js"></script>
    <script src="data/document.js"></script>
    <script src="resources/scripts/prototypePost.js"></script>
    <script src="files/pracownik/data.js"></script>
    <script type="text/javascript">
      $axure.utils.getTransparentGifPath = function() { return 'resources/images/transparent.gif'; };
      $axure.utils.getOtherPath = function() { return 'resources/Other.html'; };
      $axure.utils.getReloadPath = function() { return 'resources/reload.html'; };
    </script>
  </head>
  <body>
    <div id="base" class="">

      <!-- Unnamed (Menu) -->
      <div id="u25" class="ax_default">
        <img id="u25_menu" class="img " src="images/klient/u6_menu.png" alt="u25_menu"/>

        <!-- Unnamed (Table) -->
        <div id="u26" class="ax_default">

          <!-- Unnamed (Menu Item) -->
          <div id="u27" class="ax_default menu_item">
            <img id="u27_img" class="img " src="images/klient/u8.png"/>
            <div id="u27_text" class="text ">
              <p><span>Klienci</span></p>
            </div>
          </div>

          <!-- Unnamed (Menu Item) -->
          <div id="u28" class="ax_default menu_item">
            <img id="u28_img" class="img " src="images/klient/u8.png"/>
            <div id="u28_text" class="text ">
              <p><span>Zamówienia</span></p>
            </div>
          </div>

          <!-- Unnamed (Menu Item) -->
          <div id="u29" class="ax_default menu_item">
            <img id="u29_img" class="img " src="images/klient/u8.png"/>
            <div id="u29_text" class="text ">
              <p><span>Produkty</span></p>
            </div>
          </div>

          <!-- Unnamed (Menu Item) -->
          <div id="u30" class="ax_default menu_item">
            <img id="u30_img" class="img " src="images/klient/u8.png"/>
            <div id="u30_text" class="text ">
              <p><span>Lokalizacje</span></p>
            </div>
          </div>

          <!-- Unnamed (Menu Item) -->
          <div id="u31" class="ax_default menu_item">
            <img id="u31_img" class="img " src="images/klient/u8.png"/>
            <div id="u31_text" class="text ">
              <p><span>Dostawcy</span></p>
            </div>
          </div>

          <!-- Unnamed (Menu Item) -->
          <div id="u32" class="ax_default menu_item">
            <img id="u32_img" class="img " src="images/klient/u8.png"/>
            <div id="u32_text" class="text ">
              <p><span>Miasta</span></p>
            </div>
          </div>

          <!-- Unnamed (Menu Item) -->
          <div id="u33" class="ax_default menu_item">
            <img id="u33_img" class="img " src="images/klient/u14.png"/>
            <div id="u33_text" class="text ">
              <p><span>Pracownicy</span></p>
            </div>
          </div>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u34" class="ax_default heading_1">
        <div id="u34_div" class=""></div>
        <div id="u34_text" class="text ">
          <p><span>Dodaj Pracownika</span></p>
        </div>
      </div>

      <!-- Unnamed (Text Field) -->
      <div id="u35" class="ax_default text_field">
        <input id="u35_input" type="text" value=""/>
      </div>

      <!-- Unnamed (Text Field) -->
      <div id="u36" class="ax_default text_field">
        <input id="u36_input" type="text" value=""/>
      </div>

      <!-- Unnamed (Droplist) -->
      <div id="u37" class="ax_default droplist">
        <select id="u37_input">
        </select>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u38" class="ax_default label">
        <div id="u38_div" class=""></div>
        <div id="u38_text" class="text ">
          <p><span>Imię</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u39" class="ax_default label">
        <div id="u39_div" class=""></div>
        <div id="u39_text" class="text ">
          <p><span>Nazwisko</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u40" class="ax_default label">
        <div id="u40_div" class=""></div>
        <div id="u40_text" class="text ">
          <p><span>Rola</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u41" class="ax_default label">
        <div id="u41_div" class=""></div>
        <div id="u41_text" class="text ">
          <p><span>Sklep</span></p>
        </div>
      </div>

      <!-- Unnamed (HTML Button) -->
      <div id="u42" class="ax_default html_button">
        <input id="u42_input" type="submit" value="Dodaj"/>
      </div>

      <!-- Unnamed (Text Field) -->
      <div id="u43" class="ax_default text_field">
        <input id="u43_input" type="text" value=""/>
      </div>

      <!-- Unnamed (Droplist) -->
      <div id="u44" class="ax_default droplist">
        <select id="u44_input">
        </select>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u45" class="ax_default label">
        <div id="u45_div" class=""></div>
        <div id="u45_text" class="text ">
          <p><span>Pensja</span></p>
        </div>
      </div>
    </div>
  </body>
</html>
