<!DOCTYPE html>
<html>
  <head>
    <title>Produkty</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <link href="resources/css/jquery-ui-themes.css" type="text/css" rel="stylesheet"/>
    <link href="resources/css/axure_rp_page.css" type="text/css" rel="stylesheet"/>
    <link href="data/styles.css" type="text/css" rel="stylesheet"/>
    <link href="files/produkty/styles.css" type="text/css" rel="stylesheet"/>
    <script src="resources/scripts/jquery-1.7.1.min.js"></script>
    <script src="resources/scripts/jquery-ui-1.8.10.custom.min.js"></script>
    <script src="resources/scripts/prototypePre.js"></script>
    <script src="data/document.js"></script>
    <script src="resources/scripts/prototypePost.js"></script>
    <script src="files/produkty/data.js"></script>
    <script type="text/javascript">
      $axure.utils.getTransparentGifPath = function() { return 'resources/images/transparent.gif'; };
      $axure.utils.getOtherPath = function() { return 'resources/Other.html'; };
      $axure.utils.getReloadPath = function() { return 'resources/reload.html'; };
    </script>
  </head>
  <body>
    <div id="base" class="">

      <!-- Unnamed (Menu) -->
      <div id="u806" class="ax_default">
        <img id="u806_menu" class="img " src="images/klient/u6_menu.png" alt="u806_menu"/>

        <!-- Unnamed (Table) -->
        <div id="u807" class="ax_default">

          <!-- Unnamed (Menu Item) -->
          <div id="u808" class="ax_default menu_item">
            <img id="u808_img" class="img " src="images/klient/u8.png"/>
            <div id="u808_text" class="text ">
              <p><span>Klienci</span></p>
            </div>
          </div>

          <!-- Unnamed (Menu Item) -->
          <div id="u809" class="ax_default menu_item">
            <img id="u809_img" class="img " src="images/klient/u8.png"/>
            <div id="u809_text" class="text ">
              <p><span>Zamówienia</span></p>
            </div>
          </div>

          <!-- Unnamed (Menu Item) -->
          <div id="u810" class="ax_default menu_item">
            <img id="u810_img" class="img " src="images/klienci/u204.png"/>
            <div id="u810_text" class="text ">
              <p><span>Produkty</span></p>
            </div>
          </div>

          <!-- Unnamed (Menu Item) -->
          <div id="u811" class="ax_default menu_item">
            <img id="u811_img" class="img " src="images/klient/u8.png"/>
            <div id="u811_text" class="text ">
              <p><span>Lokalizacje</span></p>
            </div>
          </div>

          <!-- Unnamed (Menu Item) -->
          <div id="u812" class="ax_default menu_item">
            <img id="u812_img" class="img " src="images/klient/u8.png"/>
            <div id="u812_text" class="text ">
              <p><span>Dostawcy</span></p>
            </div>
          </div>

          <!-- Unnamed (Menu Item) -->
          <div id="u813" class="ax_default menu_item">
            <img id="u813_img" class="img " src="images/klient/u8.png"/>
            <div id="u813_text" class="text ">
              <p><span>Miasta</span></p>
            </div>
          </div>

          <!-- Unnamed (Menu Item) -->
          <div id="u814" class="ax_default menu_item">
            <img id="u814_img" class="img " src="images/klient/u14.png"/>
            <div id="u814_text" class="text ">
              <p><span>Pracownicy</span></p>
            </div>
          </div>
        </div>
      </div>

      <!-- Unnamed (Table) -->
      <div id="u815" class="ax_default">

        <!-- Unnamed (Table Cell) -->
        <div id="u816" class="ax_default table_cell">
          <img id="u816_img" class="img " src="images/klienci/u212.png"/>
          <div id="u816_text" class="text ">
            <p><span>ID</span></p>
          </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u817" class="ax_default table_cell">
          <img id="u817_img" class="img " src="images/klienci/u215.png"/>
          <div id="u817_text" class="text ">
            <p><span>Nazwa Produktu</span></p>
          </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u818" class="ax_default table_cell">
          <img id="u818_img" class="img " src="images/klienci/u213.png"/>
          <div id="u818_text" class="text ">
            <p><span>Kategoria</span></p>
          </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u819" class="ax_default table_cell">
          <img id="u819_img" class="img " src="images/pracownicy/u340.png"/>
          <div id="u819_text" class="text ">
            <p><span>Dostawca</span></p>
          </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u820" class="ax_default table_cell">
          <img id="u820_img" class="img " src="images/pracownicy/u340.png"/>
          <div id="u820_text" class="text ">
            <p><span>Sklep</span></p>
          </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u821" class="ax_default table_cell">
          <img id="u821_img" class="img " src="images/produkty/u821.png"/>
          <div id="u821_text" class="text ">
            <p><span>Cena</span></p>
          </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u822" class="ax_default table_cell">
          <img id="u822_img" class="img " src="images/klienci/u212.png"/>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u823" class="ax_default table_cell">
          <img id="u823_img" class="img " src="images/klienci/u215.png"/>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u824" class="ax_default table_cell">
          <img id="u824_img" class="img " src="images/klienci/u213.png"/>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u825" class="ax_default table_cell">
          <img id="u825_img" class="img " src="images/pracownicy/u340.png"/>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u826" class="ax_default table_cell">
          <img id="u826_img" class="img " src="images/pracownicy/u340.png"/>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u827" class="ax_default table_cell">
          <img id="u827_img" class="img " src="images/produkty/u821.png"/>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u828" class="ax_default table_cell">
          <img id="u828_img" class="img " src="images/klienci/u212.png"/>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u829" class="ax_default table_cell">
          <img id="u829_img" class="img " src="images/klienci/u215.png"/>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u830" class="ax_default table_cell">
          <img id="u830_img" class="img " src="images/klienci/u213.png"/>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u831" class="ax_default table_cell">
          <img id="u831_img" class="img " src="images/pracownicy/u340.png"/>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u832" class="ax_default table_cell">
          <img id="u832_img" class="img " src="images/pracownicy/u340.png"/>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u833" class="ax_default table_cell">
          <img id="u833_img" class="img " src="images/produkty/u821.png"/>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u834" class="ax_default table_cell">
          <img id="u834_img" class="img " src="images/klienci/u212.png"/>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u835" class="ax_default table_cell">
          <img id="u835_img" class="img " src="images/klienci/u215.png"/>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u836" class="ax_default table_cell">
          <img id="u836_img" class="img " src="images/klienci/u213.png"/>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u837" class="ax_default table_cell">
          <img id="u837_img" class="img " src="images/pracownicy/u340.png"/>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u838" class="ax_default table_cell">
          <img id="u838_img" class="img " src="images/pracownicy/u340.png"/>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u839" class="ax_default table_cell">
          <img id="u839_img" class="img " src="images/produkty/u821.png"/>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u840" class="ax_default table_cell">
          <img id="u840_img" class="img " src="images/klienci/u212.png"/>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u841" class="ax_default table_cell">
          <img id="u841_img" class="img " src="images/klienci/u215.png"/>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u842" class="ax_default table_cell">
          <img id="u842_img" class="img " src="images/klienci/u213.png"/>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u843" class="ax_default table_cell">
          <img id="u843_img" class="img " src="images/pracownicy/u340.png"/>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u844" class="ax_default table_cell">
          <img id="u844_img" class="img " src="images/pracownicy/u340.png"/>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u845" class="ax_default table_cell">
          <img id="u845_img" class="img " src="images/produkty/u821.png"/>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u846" class="ax_default table_cell">
          <img id="u846_img" class="img " src="images/klienci/u212.png"/>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u847" class="ax_default table_cell">
          <img id="u847_img" class="img " src="images/klienci/u215.png"/>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u848" class="ax_default table_cell">
          <img id="u848_img" class="img " src="images/klienci/u213.png"/>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u849" class="ax_default table_cell">
          <img id="u849_img" class="img " src="images/pracownicy/u340.png"/>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u850" class="ax_default table_cell">
          <img id="u850_img" class="img " src="images/pracownicy/u340.png"/>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u851" class="ax_default table_cell">
          <img id="u851_img" class="img " src="images/produkty/u821.png"/>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u852" class="ax_default table_cell">
          <img id="u852_img" class="img " src="images/klienci/u212.png"/>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u853" class="ax_default table_cell">
          <img id="u853_img" class="img " src="images/klienci/u215.png"/>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u854" class="ax_default table_cell">
          <img id="u854_img" class="img " src="images/klienci/u213.png"/>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u855" class="ax_default table_cell">
          <img id="u855_img" class="img " src="images/pracownicy/u340.png"/>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u856" class="ax_default table_cell">
          <img id="u856_img" class="img " src="images/pracownicy/u340.png"/>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u857" class="ax_default table_cell">
          <img id="u857_img" class="img " src="images/produkty/u821.png"/>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u858" class="ax_default table_cell">
          <img id="u858_img" class="img " src="images/klienci/u212.png"/>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u859" class="ax_default table_cell">
          <img id="u859_img" class="img " src="images/klienci/u215.png"/>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u860" class="ax_default table_cell">
          <img id="u860_img" class="img " src="images/klienci/u213.png"/>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u861" class="ax_default table_cell">
          <img id="u861_img" class="img " src="images/pracownicy/u340.png"/>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u862" class="ax_default table_cell">
          <img id="u862_img" class="img " src="images/pracownicy/u340.png"/>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u863" class="ax_default table_cell">
          <img id="u863_img" class="img " src="images/produkty/u821.png"/>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u864" class="ax_default table_cell">
          <img id="u864_img" class="img " src="images/klienci/u212.png"/>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u865" class="ax_default table_cell">
          <img id="u865_img" class="img " src="images/klienci/u215.png"/>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u866" class="ax_default table_cell">
          <img id="u866_img" class="img " src="images/klienci/u213.png"/>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u867" class="ax_default table_cell">
          <img id="u867_img" class="img " src="images/pracownicy/u340.png"/>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u868" class="ax_default table_cell">
          <img id="u868_img" class="img " src="images/pracownicy/u340.png"/>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u869" class="ax_default table_cell">
          <img id="u869_img" class="img " src="images/produkty/u821.png"/>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u870" class="ax_default table_cell">
          <img id="u870_img" class="img " src="images/klienci/u212.png"/>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u871" class="ax_default table_cell">
          <img id="u871_img" class="img " src="images/klienci/u215.png"/>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u872" class="ax_default table_cell">
          <img id="u872_img" class="img " src="images/klienci/u213.png"/>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u873" class="ax_default table_cell">
          <img id="u873_img" class="img " src="images/pracownicy/u340.png"/>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u874" class="ax_default table_cell">
          <img id="u874_img" class="img " src="images/pracownicy/u340.png"/>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u875" class="ax_default table_cell">
          <img id="u875_img" class="img " src="images/produkty/u821.png"/>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u876" class="ax_default table_cell">
          <img id="u876_img" class="img " src="images/klienci/u212.png"/>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u877" class="ax_default table_cell">
          <img id="u877_img" class="img " src="images/klienci/u215.png"/>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u878" class="ax_default table_cell">
          <img id="u878_img" class="img " src="images/klienci/u213.png"/>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u879" class="ax_default table_cell">
          <img id="u879_img" class="img " src="images/pracownicy/u340.png"/>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u880" class="ax_default table_cell">
          <img id="u880_img" class="img " src="images/pracownicy/u340.png"/>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u881" class="ax_default table_cell">
          <img id="u881_img" class="img " src="images/produkty/u821.png"/>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u882" class="ax_default table_cell">
          <img id="u882_img" class="img " src="images/klienci/u212.png"/>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u883" class="ax_default table_cell">
          <img id="u883_img" class="img " src="images/klienci/u215.png"/>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u884" class="ax_default table_cell">
          <img id="u884_img" class="img " src="images/klienci/u213.png"/>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u885" class="ax_default table_cell">
          <img id="u885_img" class="img " src="images/pracownicy/u340.png"/>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u886" class="ax_default table_cell">
          <img id="u886_img" class="img " src="images/pracownicy/u340.png"/>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u887" class="ax_default table_cell">
          <img id="u887_img" class="img " src="images/produkty/u821.png"/>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u888" class="ax_default table_cell">
          <img id="u888_img" class="img " src="images/klienci/u212.png"/>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u889" class="ax_default table_cell">
          <img id="u889_img" class="img " src="images/klienci/u215.png"/>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u890" class="ax_default table_cell">
          <img id="u890_img" class="img " src="images/klienci/u213.png"/>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u891" class="ax_default table_cell">
          <img id="u891_img" class="img " src="images/pracownicy/u340.png"/>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u892" class="ax_default table_cell">
          <img id="u892_img" class="img " src="images/pracownicy/u340.png"/>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u893" class="ax_default table_cell">
          <img id="u893_img" class="img " src="images/produkty/u821.png"/>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u894" class="ax_default table_cell">
          <img id="u894_img" class="img " src="images/klienci/u212.png"/>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u895" class="ax_default table_cell">
          <img id="u895_img" class="img " src="images/klienci/u215.png"/>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u896" class="ax_default table_cell">
          <img id="u896_img" class="img " src="images/klienci/u213.png"/>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u897" class="ax_default table_cell">
          <img id="u897_img" class="img " src="images/pracownicy/u340.png"/>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u898" class="ax_default table_cell">
          <img id="u898_img" class="img " src="images/pracownicy/u340.png"/>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u899" class="ax_default table_cell">
          <img id="u899_img" class="img " src="images/produkty/u821.png"/>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u900" class="ax_default table_cell">
          <img id="u900_img" class="img " src="images/klienci/u212.png"/>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u901" class="ax_default table_cell">
          <img id="u901_img" class="img " src="images/klienci/u215.png"/>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u902" class="ax_default table_cell">
          <img id="u902_img" class="img " src="images/klienci/u213.png"/>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u903" class="ax_default table_cell">
          <img id="u903_img" class="img " src="images/pracownicy/u340.png"/>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u904" class="ax_default table_cell">
          <img id="u904_img" class="img " src="images/pracownicy/u340.png"/>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u905" class="ax_default table_cell">
          <img id="u905_img" class="img " src="images/produkty/u821.png"/>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u906" class="ax_default table_cell">
          <img id="u906_img" class="img " src="images/klienci/u212.png"/>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u907" class="ax_default table_cell">
          <img id="u907_img" class="img " src="images/klienci/u215.png"/>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u908" class="ax_default table_cell">
          <img id="u908_img" class="img " src="images/klienci/u213.png"/>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u909" class="ax_default table_cell">
          <img id="u909_img" class="img " src="images/pracownicy/u340.png"/>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u910" class="ax_default table_cell">
          <img id="u910_img" class="img " src="images/pracownicy/u340.png"/>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u911" class="ax_default table_cell">
          <img id="u911_img" class="img " src="images/produkty/u821.png"/>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u912" class="ax_default table_cell">
          <img id="u912_img" class="img " src="images/klienci/u212.png"/>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u913" class="ax_default table_cell">
          <img id="u913_img" class="img " src="images/klienci/u215.png"/>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u914" class="ax_default table_cell">
          <img id="u914_img" class="img " src="images/klienci/u213.png"/>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u915" class="ax_default table_cell">
          <img id="u915_img" class="img " src="images/pracownicy/u340.png"/>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u916" class="ax_default table_cell">
          <img id="u916_img" class="img " src="images/pracownicy/u340.png"/>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u917" class="ax_default table_cell">
          <img id="u917_img" class="img " src="images/produkty/u821.png"/>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u918" class="ax_default table_cell">
          <img id="u918_img" class="img " src="images/klienci/u212.png"/>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u919" class="ax_default table_cell">
          <img id="u919_img" class="img " src="images/klienci/u215.png"/>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u920" class="ax_default table_cell">
          <img id="u920_img" class="img " src="images/klienci/u213.png"/>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u921" class="ax_default table_cell">
          <img id="u921_img" class="img " src="images/pracownicy/u340.png"/>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u922" class="ax_default table_cell">
          <img id="u922_img" class="img " src="images/pracownicy/u340.png"/>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u923" class="ax_default table_cell">
          <img id="u923_img" class="img " src="images/produkty/u821.png"/>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u924" class="ax_default table_cell">
          <img id="u924_img" class="img " src="images/klienci/u212.png"/>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u925" class="ax_default table_cell">
          <img id="u925_img" class="img " src="images/klienci/u215.png"/>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u926" class="ax_default table_cell">
          <img id="u926_img" class="img " src="images/klienci/u213.png"/>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u927" class="ax_default table_cell">
          <img id="u927_img" class="img " src="images/pracownicy/u340.png"/>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u928" class="ax_default table_cell">
          <img id="u928_img" class="img " src="images/pracownicy/u340.png"/>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u929" class="ax_default table_cell">
          <img id="u929_img" class="img " src="images/produkty/u821.png"/>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u930" class="ax_default table_cell">
          <img id="u930_img" class="img " src="images/klienci/u212.png"/>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u931" class="ax_default table_cell">
          <img id="u931_img" class="img " src="images/klienci/u215.png"/>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u932" class="ax_default table_cell">
          <img id="u932_img" class="img " src="images/klienci/u213.png"/>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u933" class="ax_default table_cell">
          <img id="u933_img" class="img " src="images/pracownicy/u340.png"/>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u934" class="ax_default table_cell">
          <img id="u934_img" class="img " src="images/pracownicy/u340.png"/>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u935" class="ax_default table_cell">
          <img id="u935_img" class="img " src="images/produkty/u821.png"/>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u936" class="ax_default table_cell">
          <img id="u936_img" class="img " src="images/klienci/u312.png"/>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u937" class="ax_default table_cell">
          <img id="u937_img" class="img " src="images/klienci/u315.png"/>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u938" class="ax_default table_cell">
          <img id="u938_img" class="img " src="images/klienci/u313.png"/>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u939" class="ax_default table_cell">
          <img id="u939_img" class="img " src="images/pracownicy/u460.png"/>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u940" class="ax_default table_cell">
          <img id="u940_img" class="img " src="images/pracownicy/u460.png"/>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u941" class="ax_default table_cell">
          <img id="u941_img" class="img " src="images/produkty/u941.png"/>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u942" class="ax_default button">
        <div id="u942_div" class=""></div>
        <div id="u942_text" class="text ">
          <p><span>Dodaj produkt</span></p>
        </div>
      </div>

      <!-- Unnamed (Text Field) -->
      <div id="u943" class="ax_default text_field">
        <input id="u943_input" type="text" value=""/>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u944" class="ax_default label">
        <div id="u944_div" class=""></div>
        <div id="u944_text" class="text ">
          <p><span>Wyszukaj</span></p>
        </div>
      </div>

      <!-- Unnamed (Shape) -->
      <div id="u945" class="ax_default icon">
        <img id="u945_img" class="img " src="images/klienci/u320.png"/>
      </div>

      <!-- Unnamed (Shape) -->
      <div id="u946" class="ax_default icon">
        <img id="u946_img" class="img " src="images/klienci/u321.png"/>
      </div>

      <!-- Unnamed (Text Field) -->
      <div id="u947" class="ax_default text_field">
        <input id="u947_input" type="text" value=""/>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u948" class="ax_default label">
        <div id="u948_div" class=""></div>
        <div id="u948_text" class="text ">
          <p><span>Strona</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u949" class="ax_default label">
        <div id="u949_div" class=""></div>
        <div id="u949_text" class="text ">
          <p><span>/1</span></p>
        </div>
      </div>

      <!-- Unnamed (Shape) -->
      <div id="u950" class="ax_default icon">
        <img id="u950_img" class="img " src="images/klienci/u325.png"/>
      </div>

      <!-- Unnamed (Shape) -->
      <div id="u951" class="ax_default icon">
        <img id="u951_img" class="img " src="images/klienci/u326.png"/>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u952" class="ax_default button">
        <div id="u952_div" class=""></div>
        <div id="u952_text" class="text ">
          <p><span>Dodaj kategorię</span></p>
        </div>
      </div>
    </div>
  </body>
</html>
