<!DOCTYPE html>
<html>
  <head>
    <title>ProduktEdit</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <link href="resources/css/jquery-ui-themes.css" type="text/css" rel="stylesheet"/>
    <link href="resources/css/axure_rp_page.css" type="text/css" rel="stylesheet"/>
    <link href="data/styles.css" type="text/css" rel="stylesheet"/>
    <link href="files/produktedit/styles.css" type="text/css" rel="stylesheet"/>
    <script src="resources/scripts/jquery-1.7.1.min.js"></script>
    <script src="resources/scripts/jquery-ui-1.8.10.custom.min.js"></script>
    <script src="resources/scripts/prototypePre.js"></script>
    <script src="data/document.js"></script>
    <script src="resources/scripts/prototypePost.js"></script>
    <script src="files/produktedit/data.js"></script>
    <script type="text/javascript">
      $axure.utils.getTransparentGifPath = function() { return 'resources/images/transparent.gif'; };
      $axure.utils.getOtherPath = function() { return 'resources/Other.html'; };
      $axure.utils.getReloadPath = function() { return 'resources/reload.html'; };
    </script>
  </head>
  <body>
    <div id="base" class="">

      <!-- Unnamed (Menu) -->
      <div id="u116" class="ax_default">
        <img id="u116_menu" class="img " src="images/klient/u6_menu.png" alt="u116_menu"/>

        <!-- Unnamed (Table) -->
        <div id="u117" class="ax_default">

          <!-- Unnamed (Menu Item) -->
          <div id="u118" class="ax_default menu_item">
            <img id="u118_img" class="img " src="images/klient/u8.png"/>
            <div id="u118_text" class="text ">
              <p><span>Klienci</span></p>
            </div>
          </div>

          <!-- Unnamed (Menu Item) -->
          <div id="u119" class="ax_default menu_item">
            <img id="u119_img" class="img " src="images/klient/u8.png"/>
            <div id="u119_text" class="text ">
              <p><span>Zamówienia</span></p>
            </div>
          </div>

          <!-- Unnamed (Menu Item) -->
          <div id="u120" class="ax_default menu_item">
            <img id="u120_img" class="img " src="images/klient/u8.png"/>
            <div id="u120_text" class="text ">
              <p><span>Produkty</span></p>
            </div>
          </div>

          <!-- Unnamed (Menu Item) -->
          <div id="u121" class="ax_default menu_item">
            <img id="u121_img" class="img " src="images/klient/u8.png"/>
            <div id="u121_text" class="text ">
              <p><span>Lokalizacje</span></p>
            </div>
          </div>

          <!-- Unnamed (Menu Item) -->
          <div id="u122" class="ax_default menu_item">
            <img id="u122_img" class="img " src="images/klient/u8.png"/>
            <div id="u122_text" class="text ">
              <p><span>Dostawcy</span></p>
            </div>
          </div>

          <!-- Unnamed (Menu Item) -->
          <div id="u123" class="ax_default menu_item">
            <img id="u123_img" class="img " src="images/klient/u8.png"/>
            <div id="u123_text" class="text ">
              <p><span>Miasta</span></p>
            </div>
          </div>

          <!-- Unnamed (Menu Item) -->
          <div id="u124" class="ax_default menu_item">
            <img id="u124_img" class="img " src="images/klient/u14.png"/>
            <div id="u124_text" class="text ">
              <p><span>Pracownicy</span></p>
            </div>
          </div>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u125" class="ax_default heading_1">
        <div id="u125_div" class=""></div>
        <div id="u125_text" class="text ">
          <p><span>Produkt</span></p>
        </div>
      </div>

      <!-- Unnamed (Text Field) -->
      <div id="u126" class="ax_default text_field">
        <input id="u126_input" type="text" value="Odkurzacz Samochodowy"/>
      </div>

      <!-- Unnamed (Droplist) -->
      <div id="u127" class="ax_default droplist">
        <select id="u127_input">
          <option selected value="Elektronika">Elektronika</option>
        </select>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u128" class="ax_default label">
        <div id="u128_div" class=""></div>
        <div id="u128_text" class="text ">
          <p><span>Nazwa</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u129" class="ax_default label">
        <div id="u129_div" class=""></div>
        <div id="u129_text" class="text ">
          <p><span>Kategoria</span></p>
        </div>
      </div>

      <!-- Unnamed (HTML Button) -->
      <div id="u130" class="ax_default html_button">
        <input id="u130_input" type="submit" value="Edytuj"/>
      </div>

      <!-- Unnamed (Droplist) -->
      <div id="u131" class="ax_default droplist">
        <select id="u131_input">
          <option value="Hurtownia Ssacz">Hurtownia Ssacz</option>
        </select>
      </div>

      <!-- Unnamed (Droplist) -->
      <div id="u132" class="ax_default droplist">
        <select id="u132_input">
          <option value="Saturn Józefów">Saturn Józefów</option>
        </select>
      </div>

      <!-- Unnamed (Text Field) -->
      <div id="u133" class="ax_default text_field">
        <input id="u133_input" type="text" value="600 zł"/>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u134" class="ax_default label">
        <div id="u134_div" class=""></div>
        <div id="u134_text" class="text ">
          <p><span>Dostawca</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u135" class="ax_default label">
        <div id="u135_div" class=""></div>
        <div id="u135_text" class="text ">
          <p><span>Sklep</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u136" class="ax_default label">
        <div id="u136_div" class=""></div>
        <div id="u136_text" class="text ">
          <p><span>Cena</span></p>
        </div>
      </div>

      <!-- Unnamed (HTML Button) -->
      <div id="u137" class="ax_default html_button">
        <input id="u137_input" type="submit" value="Usuń"/>
      </div>
    </div>
  </body>
</html>
